<!DOCTYPE html>
<html>
   <head>
      <title>Makeup Search</title>
   </head>
   <style>body{font-family:sans-serif;}.column{float:left;padding:5px;} .row{display:table}</style>
   <body>
<script>
    </script>
//        <ul>
//            for (i = 0; i < products.length; i++)
//            {
//                 if(i%5 == 0)
//                 {
//                    if (i == 0)
//                    {
//                        <li><div class="column"><a href='{{product.product_link}}' target="_blank"><img src='{{product.image}}' width="200px" height="200px"></a></div>
//                    }
//                    else
//                    {
//                        </li><li><div class="column"><a href='{{product.product_link}}' target="_blank"><img src='{{product.image}}' width="200px" height="200px"></a></div>
//                     }
//                 }
//                 else
//                 {
//                     <div class="column"><a href='{{product.product_link}}' target="_blank"><img src='{{product.image}}' width="200px" height="200px"></a></div>
//                 }
//
//            }
// </ul>
<!--      <h1>You Searched For: {{product}}</h1>-->
<!--      <div id="demo"></div>-->
<!--         <div class= "row">-->
<!--             {% for product in products %}-->
<!--            <div class="column"><a href='{{product.product_link}}' target="_blank"><img src='{{product.image}}' width="200px" height="200px"></a></div>-->
<!--             {% endfor %}-->
<!--         </div>-->

<p><a href='/'>Search for something else?</a></p>
   </body>
</html>


<!--{% for product in products %}-->
<p>From {{product.brand}} which can be found at <a href="{{product.website}}">their website</a>,
    <br>{{product.name}}  ID: {{product.id}}
    <br><t>Price: ${{product.price}}  Purchase <a href="{{product.product_link}}">here</a>.
    <br><t>Product Type: {{product.type}}
    <br><t>Description: {{product.description}}
    <br><t><a href="{{product.image}}">See image here.</a><br>
<!--                    {% endfor %}-->
<!--Check out <a href="https://www.glossier.com/">Glossier</a>.</p>-->


               <!DOCTYPE html>
<html>
<head>
<title>{{page_title}}</title>
</head>
<div style="height: 200px"></div>
<body style="font-family: 'Baskerville Old Face'">
<div style="text-align: center;"><span style="font-size: 40pt; font-weight: bold">Makeup Search</span>
    <div style="height: 25px"></div>
<form action="gresponse" method="get">
    <label for="product">What kind of makeup product are you looking for?</label>
    <br><div style="height: 15px"></div>
    <input type="text" id="product" name="product" /><br />
    <input type="submit" value="Search" name="gobtn" id=""submit"/> </form>
    <div style="height: 15px"></div>
    <a href='/searchparameters'>Want to know what you can search by?</a>
    <br>
    <div style="height: 15px"></div>
    <input type="submit" value="Search" name="gobtn" id=""submit"/> </form></div>
{% if prompt %}
    <div style="height: 25px"></div>
    <div class= 'formtitle'>{{prompt}}</div>
{% endif %}
</body>
</html>

               #12AM

                   <table width="100%" cellspacing="0" cellpadding="10" border="1">
        <tr style="font-weight: bolder; font-size: large"><td width="10%"></td><td>Brands</td><td></td><td>Product Types</td><td>Product Categories</td><td width="10%"></td></tr>
        <tr>
            <td width="10%"></td>
            <td style="vertical-align: top;">{% for brand in brandlist[0:29] %}
            {{brand}}
            <br>{% endfor %}</td>
            <td style="vertical-align: top;">{% for brand in brandlist[29:] %}
            {{brand}}
            <br>{% endfor %}</td>
            <td style="vertical-align: top;">{% for type in producttypelist %}
            {{type}}
            <br>{% endfor %}</td>
            <td style="vertical-align: top;">{% for category in productcategorylist %}
            {{category}}
            <br>{% endfor %}</td>
            <td width="10%"></td>
        </tr>
</table>




                   <table width="100%" cellspacing="0" cellpadding="10" border="1">
        <tr >
            <td width="20%"></td>
            <td style="font-weight: bolder; font-size: large">
            Brands</td>
            <td>{% for brand in brandlist %}{{brand}} {% endfor %}</td>
            <td width="20%"></td>
        <tr>
            <td width="20%"></td>
            <td style="font-weight: bolder; font-size: large" width="10%">
            Product Types</td>
            <td>{% for type in producttypelist %}{{type}} {% endfor %}</td>
            <td width="20%"></td>
        <tr>
            <td width="20%"></td>
            <td style="font-weight: bolder; font-size: large" width="10%">
            Product Categories</td>
            <td>{% for categories in productcategorylist %}{{categories}} {% endfor %}</td>
            <td width="20%"></td>
</table>